*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.SignInPage{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
  background-color: yellow;
  flex-direction: column;
}

.Form{
  background-color: blueviolet;
  width: 60vw;
  display: flex;
  flex-direction: column;
  gap: 3vh;
  padding: 12px;
}

.Form > *{
 border: none;
  font-size: 20px;
}

.Form > input {
  outline-color: yellow;
  border-radius: 5px;
  padding: 3px;
}

.Form > button{
  width: 30vw;
  border-radius: 6px;
  background-color: blue;
  color: yellow;
  align-self: center;
}

.Error{
  color: red;
  font-family: monospace;
  font-size: 20px;
}

.Sucess{
  color:greenyellow;
  font-family: monospace;
  font-size: 20px;
}

.LogInPage{
  display: flex;
  justify-content: center;
  align-items:center ;
  height: 100vh;
  background-color: rgb(245, 81, 36);
  flex-direction: column;
}

.LogInPage > .Form{
  background-color: #65d5e4;
}


.Dashboard{
  height: 100vh;
  background-color: yellowgreen;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5%;
}

.Dashboard > .message{
  font-size: 34px;
  font-family: monospace;
  width: 60vw;
  color: rgb(245, 81, 36);
}

 .Buttons{
  width: 100%;
  display: flex;
  justify-content: space-evenly;
}

.Buttons > button{
  font-size: 20px;
  border: none;
  border-radius: 5px;
  padding: 5px;
  cursor: pointer;
}

.Buttons > button:nth-child(1){
  color: white;
  background-color: orange;
}

.Buttons > button:last-child{
  color:white;
  background-color: blue;
}